<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h4>An email will be sent to <%= @order.email %> shortly.</h4>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Item</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render @order %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          $<%= @order.total %>
        </th>
      </tr>
    </tfoot>
  </table>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
