<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <h2>Leave a Review:</h2>
    <table class="table table-bordered">
      <%= form_for :review, url: "#{params[:id]}/reviews" do |form| %>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>
        <div class="dropdown">
          <%= form.label :rating %>
          <%= form.select :rating, [1, 2, 3, 4, 5] %><br/><br/>
        </div>
      <%= form.submit 'Create Review', class: 'btn btn-primary' %>
      <% end %>
    </table>

    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'review' %>
    </tbody>
  </table>

  </article>

</section>
